
body{

    margin: 0;
    padding: 0;
   
   
}

div{
    width: 100%;
   
    
}

.cabeça{
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    justify-content: space-between;

}
.cabeçabut{
    width: 100px;
    height:50px ;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    background-color: red;
    transition-duration: 0.4s;
}
.cabeçabut:hover{
    background-color: #ffffff; /* Green */
    color:red;
}

.carrossel {
    height: 704px;
   width: 716px;
   display: flex;
    overflow: hidden;
    position: absolute; 
    left: 32%;
    top: 15%;
transform: translate(-4%, 4%);
    
}

.carrossel-controles{
    position: absolute ;
    top: 670px;
    left: 39%;
    transform: translate(0%, -20%);
    display: flex;
    
    
    
    
    
}



.carrossel-controlado{
    display: flex;
    width: 20px;
    height: 20px;
    border: solid 2px  rgb(0, 0, 0);
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
    
}

.carrossel-controlado:hover{
    background-color: black;

}

input{
    display: none;
}

.carrossel-real{
    display: flex;
    width: 100%;
    height: 100%;

}
.carrosselhos1{
    display: flex;
    flex-wrap: row;
    justify-content: space-between;
}
.carrossel-plebeu{
    width: 100%;
    transition: 0.5s;

}
.carrossel-plebeu  img{
    
    border-radius: 20px;
    width: 716px;
    height: 700px;
    
}


#crr1:checked ~ .carrosselhos1{
   transform: translateX(0%);
   transition: 0.6s;
}

#crr2:checked ~ .carrosselhos1{
    transform: translateX(-100%);
    transition: 0.6s;
}

#crr3:checked ~ .carrosselhos1{
    transform: translateX(-200%);
    transition: 0.6s;
}

#crr4:checked ~ .carrosselhos1{
    transform: translateX(-300%);
    transition: 0.6s;
}
.divNOG img{
height: 500px;
width: 500px;

}
.tabela{
    
    font-size: 30px;
}
.div{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(173, 63, 63);
    text-align: center;
    padding: 20px;
    margin-top: 50px;
  }

  footer {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }